* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v2_288 {
  width: 1440px;
  height: 2791px;
  background: url("../ing/background-3104413\ 1.svg");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_289 {
  width: 100%;
  height: 100%;
  background: url("../images/v2_289.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3239px;
  left: 0px;
  transform: rotate(-90deg);
  overflow: hidden;
}
.v2_291 {
  width: 189px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 80px;
  left: 625px;
  text-shadow: 21px 22px 1px rgba(0, 0, 0, 0.25);
  font-family: Miniver;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v8_27 {
  width: 73px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2719px;
  left: 39px;
  border-top-left-radius: 87px;
  border-top-right-radius: 87px;
  border-bottom-left-radius: 87px;
  border-bottom-right-radius: 87px;
  overflow: hidden;
}
.v8_28 {
  width: 71px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2720px;
  left: 55px;
  font-size: 24px;
}
.v8_29 {
  width: 396px;
  height: 604px;
  background: url("../ing/โปรเตอร์\ คุณไสย\ 1.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 254px;
  left: 190px;
  overflow: hidden;
}
.v8_30 {
  width: 684px;
  height: 361px;
  background: url("../ing/ระบบจองห้องประชุมทันสมัย\ หมดปัญหาการจองกั๊กห้องประชุม\ จองซ้อน\ แก้ปัญหาห้องประชุมไม่เพียงพอ\ 1_ระบบจองห้องประชุมทันสมัย\ หมดปัญหาการจองกั๊กห้องประชุม\ จองซ้อน\ แก้ปัญหาห้องประชุมไม่เ.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1008px;
  left: 363px;
  overflow: hidden;
}
.v8_31 {
  width: 589px;
  height: 446px;
  background: url("../ing/จับภาพ111\ 1.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2069px;
  left: 438px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v8_32 {
  width: 429px;
  height: 614px;
  background: url("../ing/ชีวิตเข้าวัย\ 20\ \(1\)\ 1.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 244px;
  left: 810px;
  overflow: hidden;
}
.v8_33 {
  width: 739px;
  height: 397px;
  background: url("../ing/image\ 2.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1524px;
  left: 376px;
  border: 9px solid rgba(245,136,34,1);
  overflow: hidden;
}
.v8_34 {
  width: 794px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1934px;
  left: 458px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v8_35 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2533px;
  left: 297px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v8_36 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1393px;
  left: 246px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v8_37 {
  width: 307px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 872px;
  left: 638px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
